.gabung i#hide {
  right: 7px;
  cursor: pointer;
  display: none;
}

.gabung i#hide2 {
  right: 7px;
  cursor: pointer;
  display: none;
}

.gabung i#hide3 {
  right: 7px;
  cursor: pointer;
  display: none;
}

.gabung i#show {
  right: 7px;
  cursor: pointer;
}

.gabung i#show2 {
  right: 7px;
  cursor: pointer;
}

.gabung i#show3 {
  right: 7px;
  cursor: pointer;
}

.sim-kem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
